body {
    color-scheme: dark;
    background-color: blue;
    color: white;
    font-family: arial;
    overflow: hidden;
}
button {
    cursor: pointer;
}
.topBar {
    background-color: #010409;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: solid .01px #3d444d;
    height: 60px;
    flex-direction: column;
    z-index: 20;
}
.titleBar {
    border-bottom: solid .5px #3d444d;
    background-color: #010409;
    top: 0px;
    height: 30px;
    left: 0px;
    right: 0px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    
}
.appName {
    margin: 0px;
    position: absolute;
    left: 7px;
}
.projectName {
    color: skyblue;
    font-weight: bold;
}
.tabs {
    display: flex;
    gap: -1;
    background-color: #2b2a33;
    
}
.tab1, .tab2, .tab3 {
    height: 30px;
    width: 150px;
    border: solid .5px #3d444d;
    border-top: none;
    border-left: none;
}
.remaining-space {
    height: 29px;
    width: 100%;
    border: solid .5px #3d444d;
    border-top: none;
    border-left: none;
}
.tab1 {
    border-left: solid .5px #3d444d;
}
.main {
    margin-top: 57px;
    display: flex;
    left: 0px;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 100%;
    padding: 0px;
}
.editor1, .editor2, .editor3{
    margin: 0px;
    margin-top: 0px;
    border: none;
    max-width: 60vw;
    max-height: 100%;
    min-width: 60vw;
    min-height: 100%;
    position: absolute;
    top: -5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #212121;
    outline: none;
    padding: 20px;
}
.editor2, .editor3 {
    display: none;
}
.run-btn {
    width: 70px;
    height: 35px;
    background-color: green;
    position: fixed;
    right: 43%;
    bottom: 10px;
    border: solid 1px black;
    border-radius: 50px;
    transition: 500ms;
}
.run-btn:hover {
    background-color: blue;
    color: grey;
}
.app-output {
    position: fixed;
    right: 0px;
    top: 60px;
    width: 40vw;
    height: 100%;
    background-color: white;
    color: black;
}